<footer class="container-fluid text-center">
 <a href="#about" title="To Top">
   <span class="glyphicon glyphicon-chevron-up lgrey"></span>
 </a>
 <h4>Copyright © Kacper Kielak 2016. All rights reserved.</h4>
</footer>
