
<!DOCTYPE html>
<html class="full" lang="en">
<head>
  <title>Kacper Kielak - error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1><%= errStatus %></h1>
  <h3><%= errMessage %></h3>
</body>
</html>
