
<!DOCTYPE html>
<html class="full" lang="en">
<head>
  <title>Kacper Kielak</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Hey! You've just stumbled upon my personal website, don't hestitate to contact me and don't forget to checkout my blog!">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="300">
 <!--<img src="/img/backgroundPhoto.jpg" class="img-responsive img-bg-big">
 <img src="/img/backgroundPhotoSmall.jpg" class="img-responsive img-bg-small">
  <nav id="about" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content-default">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content-default">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#bio">BIO</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a href="blog">BLOG</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <nav id="navbar-fixed" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content-fixed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content-fixed">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#bio">BIO</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  <div class="jumbotron" id="desc">
      <div class="block-center">
        <div class="row">
          <div class="col">
            <h2 class="main-heading">Hi! I'm Kacper!</h1>
            <p class="text-justify">
              I stopped supporting my personal website in 2018. If you want to find out more, visit my
              <a href="https://www.linkedin.com/in/kkielak" target="_blank" id="linkedin">LinkedIn</a>
              profile or check out what I am working on my <a href="https://github.com/K-Kielak" target="_blank" id="github">GitHub</a>.</p>
            <p class="text-center text-mobile">
              I stopped supporting my personal website in 2018. If you want to find out more, visit my
              <a href="https://www.linkedin.com/in/kkielak" target="_blank" id="linkedin">LinkedIn</a>
              profile or check out what I am working on my <a href="https://github.com/K-Kielak" target="_blank" id="github">GitHub</a>.</p>
          </div>
        </div>
      </div>
  </div>

<!--
   <div id="skills" class="container-fluid bg-white">
    <h1 class="text-center">Skills</h2>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Technical<span class="glyphicon glyphicon-wrench logo"></span></h2>
        <div class="skill">
          <h3>Object-oriented programming:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
            aria-valuemin="0" aria-valuemax="100" style="width:80%">
              80%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Java:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="84"
            aria-valuemin="0" aria-valuemax="100" style="width:84%">
              84%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Machine learning:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="64"
            aria-valuemin="0" aria-valuemax="100" style="width:64%">
              64% (under advanced development)
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Algorithms:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85"
            aria-valuemin="0" aria-valuemax="100" style="width:85%">
              85%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Node.js:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:70%">
              70%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Python:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="74"
            aria-valuemin="0" aria-valuemax="100" style="width:74%">
              74%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Git:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="92"
            aria-valuemin="0" aria-valuemax="100" style="width:92%">
              92%
            </div>
          </div>
        </div>
      </div>

      <div class="semi-mobile-break"></div>

      <div class="col-md-6">

        <h2 class="text-center">Other<span class="glyphicon glyphicon-user logo"></span></h2>

        <div class="skill">
          <h3>Teamwork:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="87"
            aria-valuemin="0" aria-valuemax="100" style="width:87%">
              87%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Communication:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="83"
            aria-valuemin="0" aria-valuemax="100" style="width:83%">
              83%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Event management:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="78"
            aria-valuemin="0" aria-valuemax="100" style="width:78%">
              78%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Creativity:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="89"
            aria-valuemin="0" aria-valuemax="100" style="width:89%">
              89%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Leadership:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="87"
            aria-valuemin="0" aria-valuemax="100" style="width:87%">
              87%
            </div>
          </div>
        </div>

        <div class="skill">
          <h3>Public speaking:</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="81"
            aria-valuemin="0" aria-valuemax="100" style="width:85%">
              81%
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

   <div id="bio" class="container-fluid bg-white">
     <h1 class="text-center">Bio</h1>
     <hr/>
     <div class="row extra-padding">
       <div class="col-sm-4">
         <div class="text-center">
           <span class="glyphicon glyphicon-briefcase logo-small text-center"></span>
           <h2 >Work experience</h2>
         </div>
         <hr/>
         <h3><b><a href="https://gigon.co.uk">Gigon Ltd</a></b></h3>
         <h4>Co-Founder</h4>
         <h5>As the main tech co-founder of tech music startup I develop the MVP, look for other tech talents to join our team and help with all necessary business and legal matters.</h5>
         <h3 class="text-center sub-text"><small>09.2017 - ?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></h3>
         <h3><b>University of Birmingham</b></h3>
         <h4>Intro to AI Demonstrator</h4>
         <h5>Based on my first-year grades at the university I was selected as a one out of 2 students to be a demonstrator in the Introduction to Artificial Intelligence module where I help first-year students to understand basic AI concepts like Machine Learning, Probabilistic AI, Logic and Planning.</h5>
         <h3 class="text-center sub-text"><small>10.2017 - ?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></h3>
         <h3><b>Amazon Development Center</b></h3>
         <h4>Software Engineer Intern</h4>
         <h5>Designed and developed data science project that enables to find and recognize errors within Amazon Alexa and Amazon Polly voices using unsupervised learning techniques.</h5>
         <h3 class="text-center sub-text"><small>07.2017 - 10.2017</small></h3>
         <h3><b>LST Sp. z o.o.</b></h3>
         <h4>JavaScript Intern</h4>
         <h5>Customized functionality of the ERP program for the customer's needs and developed user-friendly webpage used to generate reports.</h5>
         <h3 class="text-center sub-text"><small>07.2015 - 08.2015</small></h3>
       </div>
       <div class="col-sm-4">
         <div class="text-center">
           <span class="glyphicon glyphicon-education logo-small"></span>
           <h2>Education</h2>
         </div>
         <hr/>
         <h3><b>University of Birmingham</b></h3>
         <h4>BSc Artificial Intelligence and Computer Science</h4>
         <h5>Named the very best Artificial Intelligence and Computer Science student thanks to 91% overall (check out my education section on <a href="https://www.linkedin.com/in/kkielak">LinkedIn</a> for details regarding specific modules)</h5>
         <h5>Organising events focused on enabling students to learn and get valuable experience, such as hackathons or conferences as a Special Events Representative of Computer Science Society.</h5>
         <h5>Improved my public speaking and leadership skills as a part of Toastmasters International and developed pathfinding algorithm from scratch for the UBRobotics team for Eurobot 2017 competition.</h5>
         <h3 class="text-center sub-text"><small>09.2016 - ?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></h3>
         <br/>
         <h3><b>High School No 20 in Gdansk</b></h3>
         <h4>Highly advanced program in mathematics, computer science and physics.</h4>
         <h5>Passed 3&nbsp;mathematics modules at the Gdansk University of Technology that are part of a normal Computer Science course for the university students. Despite just being a high school student I received one of the best scores at the university.</h5>
         <h3 class="text-center sub-text"><small>09.2013 - 04.2016</small></h3>
       </div>
       <div class="col-sm-4">
         <div class="text-center">
           <span class="glyphicon glyphicon-flag logo-small"></span>
           <h2>Achievements</h2>
         </div>
         <hr/>
         <h3><b>HackTrain 4.0</b></h3>
         <h4>1st place</h4>
         <h5>As a team of 5, we developed machine learning web application for Office of Rail and Road that, based on financial data, predicts which Network Rail projects are underperforming and need visit of ORR controller. </h5>
         <h3 class="text-center sub-text"><small>2017</small></h3>
         <h3><b>London Facebook Hackathon</b></h3>
         <h4>2nd place</h4>
         <h5>In a team of 4, we created data science web application for venues and event managers. It was focused types of marketing - micro-marketing and influencers marketing. Developed using node.js, react.js and the most important social media APIs </h5>
         <h3 class="text-center sub-text"><small>2017</small></h3>
         <h3><b>University Business Challenge</b></h3>
         <h4>Semifinals</h4>
         <h5>As a team of 5 computer scientists, we qualified to the semifinals of a challenge that was targeted towards Business and Economics students and required a good understanding of business, finance and accounting principles.
         <h3 class="text-center sub-text"><small>2017</small></h3>
         <h3><b>Polish Olympiad in Informatics</b></h3>
         <h4>Semifinals</h4>
         <h5>Proved my algorithms and data structures knowledge by qualifying to the semi-finals of Polish Olympiad of Informatics as one of the top 300 students in the country.</h5>
         <h3 class="text-center sub-text"><small>2016</small></h3>
         <h3><b>Pomeranian Maths Competition</b></h3>
         <h4>4th place</h4>
         <h5>I received an award for being one of the top 4 first-year high school students from the whole Pomeranian District during the Pomeranian Maths Competition.</h5>
         <h3 class="text-center sub-text"><small>2015</small></h3>
       </div>
     </div>
   </div>

   <div id="projects" class="container-fluid bg-white">
     <h1 class="text-center">Recent projects</h1>
     <hr/>
     <div class="row project">
       <div class="col-md-5 col-md-push-7">
         <a href="https://veratechnologies.com"><img src="/img/vera.jpg" class="project-photo img-rounded img-responsive"/></a>
       </div>
       <div class="col-md-7 col-md-pull-5 project-desc left">
         <h3><b><a href="https://veratechnologies.com">Vera</a></b> <small>(06.2017)</small></h3>
         <h4>Artificial Intelligence created to tackle the problem of fake news</h4>
         <h5>We researched that all existing solutions to the problem were human-based (slow, expensive, inefficient), so we decided to automate the whole process of identifying fake news. We gathered hundreds of fake and real news articles based on credible and certified sources and programmed artificial intelligence that just within 2&nbsp;weeks (limited time and limited processing power) reached over 80% of accuracy (on the test set containing about 50% of real news and 50% of fake news). At the end of the challenge, we had to present and pitch our idea to academics and IBM representatives.</h5>
        <h5>The technology consists of 3 main parts:</h5>
        <h5> - scraping data (article title and body) out of article web pages</h5>
        <h5> - processing raw text with Natural Language Processing techniques</h5>
        <h5> - analyzing processed data using Deep Neural Networks</h5>
        <br/>
         <h5>Developed for the 'Exploring Innovation & Technology' theme of <a href="https://thebirminghamproject.wordpress.com/">Birmingham Project</a></h5>
         <br/>
         <h4><b>Used stack:</b></h4>
         <h5><b>Python3</b>, <b>NLTK</b>, <b>Tensorflow</b>, <b>HTML</b>, <b>AJAX</b></h5>
       </div>
     </div>

     <hr/>

     <div class="row project">
       <div class="col-md-5">
         <a href="https://github.com/K-Kielak/autonomous-warehouse"><img src="/img/warehouse.jpg" class="project-photo img-rounded img-responsive"/></a>
       </div>
       <div class="col-md-7 project-desc">
         <h3><b><a href="https://github.com/K-Kielak/autonomous-warehouse">Autonomous Warehouse</a> <small>(02.2017 - 03.2017)</small></b></h3>
         <h4>System of autonomous robots handling warehouse jobs as efficiently as possible</h4>
         <h5>Robot Programming module final assignment. We had to build an autonomous warehouse system using 3 NXT robots. The whole system consists research-level concepts like Traveling Salesman Problem, Multi-Robot Pathfinding and Monte Carlo Localization to name a few. </h5>
         <h5>I was responsible for the integration of the whole system as well as for the management of a team consisting 7 people.</h5>
         <h5>We received the score of 4501 points which was the very best score within the last 2 years (about 20 teams per year). For comparison, the second and the third team this year received less than 4000 points, 4th team - about 1700 points and the first team last year - about 2300 points.</h5>
         <br/>
         <h4><b>Used stack:</b></h4>
         <h5><b>Java</b>, <b>Octave</b>, <b>NXT Robots</b></h5>
       </div>
     </div>
     <div class="row">
       <h4 class="text-center"><b>If you want to get information about my other projects visit my <a href="https://www.linkedin.com/in/kkielak" target="_blank">LinkedIn</a> and <a href="https://github.com/K-Kielak" target="_blank">Github</a> profiles!</b></h5>
     </div>
     <hr/>
   </div>

   <div id="contact" class="container-fluid bg-white">
     <h2 class="text-center">CONTACT</h2>
     <hr/><br/>
     <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-4 col-sm-4">
          <img src="img/profile-photo.jpg" class="photo img-circle flip-horizontally img-responsive" alt="Kacper Kielak profile photo" width="250" height="250">
       </div>
       <div class="col-md-6 col-sm-8">
         <div class="row">
           <div class="col-sm-6">
             <h3 class="contact">Contact me! I'll get back to you within 24 hours.</h3>
             <h3 class="contact" style="white-space:nowrap;"><span class="glyphicon glyphicon-map-marker"></span> Birmingham, UK</h3>
             <h3 class="contact" style="white-space:nowrap;"><span class="glyphicon glyphicon-phone"></span> +44 7731 939152</h3>
             <h3 class="contact" style="white-space:nowrap;"><span class="glyphicon glyphicon-envelope"></span> kielak.kacper@gmail.com</h3>
           </div>
           <div class="col-sm-6 text-center">
               <div class="row contact">
                 <a href="https://www.linkedin.com/in/kkielak" target="_blank" id="linkedin"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
               </div>
               <div class="row contact">
                 <a href="https://github.com/K-Kielak" target="_blank" id="github"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
               </div>
               <div class="row contact">
                 <a href="https://www.facebook.com/kacper.kielak.97" target="_blank" id="facebook"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
               </div>
           </div>
         </div>
         <br/>
       </div>
     </div>
     <div class="col-md-1"></div>
   </div> -->
   <%- include('partials/footer') %>
   <script src="/js/jquery-3.1.0.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/index.js"></script>
</body>
</html>
