.full {
  background: #151515 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.img-bg-big {
  /* Set rules to fill background */
  min-height: 100vh;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

.img-bg-small {
  /* Set rules to fill background */
  min-height: 100vh;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -98;
  display: none;
}

.navbar{
  /*position: relative;*/
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
  z-index: 99;
}

.navbar-nav li a:hover{
    color: #ffffff !important;
}

.navbar-nav li.active a{
    background-color: #ffffff !important;
    color: #777777 !important;
}

.navbar-default .navbar-toggle {
    background-color:rgba(15, 15, 15, 0.5);
    border-color: transparent;
    color: #ffffff !important;
}

#navbar-fixed{
  display: none;
  background-color: #151515;
  border-color: #151515;
  z-index: 99;
}

.jumbotron {
  height: 95vh;
  color: #ffffff;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}

#desc {
	width: 100%;
	position: absolute;
	top: 35vh;
}

.text-mobile{
  display: none;
}

.container-fluid{
	 padding: 30px 50px;
}

.logo { /*TODO zrob tak zeby dzialalo przy malych ekranach (xs)*/
	position: absolute;
	top: 18000%;
	left: 30%;
  font-size: 170px;
}

#personal-skill-logo{
  top: 15000%;
}

.skill{
	margin:30px 50px;
}

.progress{
	height: 20px;
}

.progress-bar{
	font-size: 17px;
}

.logo-small {
    font-size: 50px;
}

.contact{
  margin: 20px 0;
}

#facebook:link, #facebook:visited{
  color: #3b5998;
}

#facebook:hover{
  color: #8b9dc3;
}

#github:link, #github:visited{
  color: #3f3f3f;
}

#github:hover{
  color: #7f7f7f;
}

#linkedin:link, #linkedin:visited{
  color: #0077b5;
}

#linkedin:hover{
  color: #50c7f5;
}

#twitter:link, #twitter:visited{
  color: #4099ff;
}

#twitter:hover{
  color: #90d9ff;
}

.flip-horizontally{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

footer {
  color: #ffffff;
  height: 40px;
}

footer .glyphicon {
    font-size: 20px;
    color: #ffffff;
}

.extra-padding{
  padding: 40px 5%;
}

.text-center{
  text-align: center;
}

@media screen and (max-width: 992px) {
  .col-md-4{
    text-align: center;
    margin: 25px 0;
  }

  .logo{
    position: static;
    font-size: 160px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
    body{
      margin-top: 0;
    }

    #navbar-content-default{
        background-color:rgba(15, 15, 15, 0.6);
    }

    .img-bg-big{
      display: none;
    }

    .img-bg-small{
      display: block;
    }

    .col-sm-4, .col-sm-6 {
      text-align: center;
      margin: 25px 0;
    }

    .main-heading{
      text-align: center;
    }

    .logo{
      font-size: 130px;
      margin: 0;
    }

    .text-justify{
      display: none;
    }

    .text-mobile{
      display: block;
    }

    .skill{
      margin: 0;
    }

    .photo{
      margin-left: auto;
      margin-right: auto;
    }
  }

 @media screen and (max-width: 480px){
   .jumbotron{
     height: 120vh;
   }


   h1{
     font-size: 32px;
   }

   h2{
     font-size: 26px;
   }

   h3{
     font-size: 18px;
   }

   h4{
     font-size: 14px;
   }
 }

 @media screen and (max-width: 360px){
   .jumbotron{
     height: 140vh;
   }
 }

.bg-white{
	background-color: #ffffff;
}

.bg-grey {
  background-color: #f6f6f6;
}
